* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 48px 16px;
  background-color: rgba(205, 92, 92, 0.2);
  text-align: center;
}

div {
  width: 800px;
  border: 2px solid rgba(42, 88, 226, 0.48);
  padding: 20px;
  margin-top: 20px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

h1,
h2,
h3 {
  color: dodgerblue;
  font-family: "Lobster", cursive;
}
